/*
	CHARTE DE COULEUR A APLIQUER POUR LE SITE AAA
*/
body{
	 background-color: #E9E9E9;
	 font-size: 1em;
	 color: #6e6e6e;
	 font-family: 'ExoRegular', Helvetica, Arial, sans-serif;
	 text-rendering: optimizeLegibility;
}

article{
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
	background-color: white;
	
}

h1{
	font-size: 2em;
}

h2{
	font-size: 18px;
	line-height: 20px;
	font-size: 1.5em;
	color: black;
}

h3{
	font-weight: bold;
	font-family: inherit;
	font-size: 1.2em;
	color: black;
}

i { 
    font-style: italic;
	font-size: 0.8em;
}

strong{
	font-weight: bold;
	font-size: 1.1em;
	color: #6e6e6e;
}

mark{
	font-style: italic;
	color: #6e6e6e;
}

em{
	font-style: italic;
	font-size: 0.9em;
	color: #6e6e6e;
}


h1, a{
	color: #BA111D;
	text-decoration : none;
}

.rouge{
	background-color:  #BA111D;
	color: white;
}

.combobox, .gris_fonce{
	background-color: #6c6c6c;
	appearance:none;
	-webkit-appearance: none;
   -moz-appearance: none;
	color: white;	
}


.separation, .orange {
	background-color: #EB8E17;
}

.gris_bas_page{
	background-color: #E0E3E8;
}

.orange_bas_page, .orange_bas_page li{
	background-color: #EB8E1C;
	color: white;
}






