

    .tabs {
      position: relative;   
      clear: both;
      margin: 1% 0;      
    }
    .tab {
		height: 10%;
		background-color: #EB8E17;
		border: 1px solid #ccc; 
    }
    .tab label { 
      padding: 1%; 
      position: relative;
      left: 1px;        
      width: 10%;
      display: block;
	  font-weight: bold;
	  font-size: 1em;
    }
    .tab [type=radio] {
      display: none;   
    }
    .content {
      position: absolute;
      top: 0px;
	  bottom: 0;
      left: 14%;
	  right: 0;
      background: white;
      border: 1px solid #ccc; 
	  box-shadow: 0px 1px 1px #1c1a19;
      border-radius: 5px;
      padding: 1%;
    }
    [type=radio]:checked ~ label {
      background: #EB8E17;
	  color: white;
      border-bottom: 2px solid white;
      z-index: 2;
    }
    [type=radio]:checked ~ label ~ .content {
      z-index: 1;
    }