
i{
	display: inline-block;
	float: right;
	text-align: center;
}

#part1{
	display: inline-block; 
	margin-left: 10%;
    margin-right: 10%;
    width: 80%;
	text-align: center;
}
#part1 select{
    display: inline-block;
    margin-right: 10%;
}

#part2 {
	display: inline-block;
	width: 80%;
}

h3{
	display: inline-block;
	margin-left: 0px;
}

#input_sympt{
	display: inline-block; 
	margin-left: 20%;
    margin-right: 10%;
    width: auto;
	text-align: center;
}

#input_sympt i{
	text-align: left;
	float: center;
}

article{
	margin: 2%;
	overflow: hidden
}

article h4{
  position: relative;
  margin-top: 0px;
  left: 0px;
}

.bottom_article{
	padding:0px;
	margin: 0px;
}


.critere_symptome{
	position: relative;
	float: left;
	text-align: left;
	width: 50%;
	list-style-type: none;
	padding:0px;
	margin: 0px;
}

.mes_criteres{
	position: relative;
	float: right;
	text-align: right;
	width: 50%;
	list-style-type: none;
	padding:0px;
	margin: 0px;
}

.mes_criteres li{
    display: inline-block;
    margin-right: 0px;
}
