/*
	CHARTE DE COULEUR A APPLIQUER POUR LE SITE AAA
*/

	/*//////////////////////////////////////////
	// GLOBAL
	///////////////////////////////////////////*/

body{
	 background-color: #E9E9E9;
	 font-size: 1em;
	 color: #6e6e6e;
	 font-family: 'ExoRegular', Helvetica, Arial, sans-serif;
	 text-rendering: optimizeLegibility;
	 padding-left : 10px;
}

article{
	box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
	background-color: white;
	word-wrap: break-word;
}

h1{
	font-size: 2em;
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
}

h2{
	font-size: 18px;
	line-height: 20px;
	font-size: 1.5em;
	color: black;
	padding-top : 20px;
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
}

h3{
	font-size: 10px;
	font-weight: bold;
	/*font-family: inherit;*/
	font-size: 1.2em;
	color: black;
	line-height: 10px;
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
}

i { 
    font-style: italic;
	font-size: 0.8em;
	font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
}

strong{
	font-weight: bold;
	font-size: 1.1em;
	color: #6e6e6e;
}

mark{
	font-style: italic;
	color: #6e6e6e;
}

em{
	font-style: italic;
	font-size: 0.9em;
	color: #6e6e6e;
}


h1, a{
	color: #BA111D;
	text-decoration : none;
}

.rouge{
	background-color:  #BA111D;
	color: white;
}

.combobox, .gris_fonce{
	background-color: #6c6c6c;
	appearance:none;
	-webkit-appearance: none;
   -moz-appearance: none;
	color: white;	
}


.separation, .orange {
	background-color: #EB8E17;
}

.gris_bas_page{
	background-color: #E0E3E8;
}

.orange_bas_page, .orange_bas_page li{
	background-color: #EB8E1C;
	color: white;
}

	/*//////////////////////////////////////////
	// N102
	///////////////////////////////////////////*/

	#n102_i{
		display: inline-block;
		float: right;
		text-align: center;
	}

	.n102_part1{
		display: inline-block; 
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
		text-align: center;
	}
	.n102_part1 select{
		display: inline-block;
		margin-right: 10%;
	}

	.n102_part2 {
		display: inline-block;
		width: 80%;
	}

	#n102_h3{
		display: inline-block;
		margin-left: 0px;
	}

	#input_sympt{
		display: inline-block; 
		margin-left: 20%;
		margin-right: 10%;
		width: auto;
		text-align: center;
	}

	#input_sympt i{
		text-align: left;
		float: center;
	}

	#n102_article{
		margin: 2%;
		overflow: hidden
	}

	#n102_h4{
	  position: relative;
	  margin-top: 0px;
	  left: 0px;
	}

	.bottom_article{
		padding:0px;
		margin: 0px;
	}


	.critere_symptome{
		position: relative;
		float: left;
		text-align: left;
		width: 50%;
		list-style-type: none;
		padding:0px;
		margin: 0px;
	}

	.mes_criteres{
		position: relative;
		float: right;
		text-align: right;
		width: 50%;
		list-style-type: none;
		padding:0px;
		margin: 0px;
	}

	.mes_criteres li{
		display: inline-block;
		margin-right: 0px;
	}
	
	/*//////////////////////////////////////////
	// N101
	///////////////////////////////////////////*/


    #n101_tabs {
      position: relative;   
      clear: both;
      margin: 1%;      
    }
    .n101_tab {
		height: 10%;
		background-color: #EB8E17;
		border: 1px solid #ccc; 
    }
    .n101_tab label { 
      padding: 1%; 
      position: relative;
      left: 1px;        
      width: 10%;
      display: block;
	  font-weight: bold;
	  font-size: 1em;
    }
    .n101_tab [type=radio] {
      display: none;   
    }
    .n101_content {
      position: absolute;
      top: 0px;
      left: 14%;
	  height: 152%;/* ATTENTION EN PHP height= nmb 38*nmb artcile*/
	  right: 0;
      background: white;
      border: 1px solid #ccc; 
	  box-shadow: 0px 1px 1px #1c1a19;
      border-radius: 5px;
      padding: 1%;
    }
	
	.n101_result{
		margin-bottom: 5%;
	}
    [type=radio]:checked ~ label {
      background: #EB8E17;
	  color: white;
      border-bottom: 2px solid white;
      z-index: 2;
    }
    [type=radio]:checked ~ label ~ .n101_content {
      z-index: 1;
    }
	/*//////////////////////////////////////////
	// MENU
	///////////////////////////////////////////*/
	#menu_ul /* Liste */     
	{
			/*padding : 0; /* pas de marge intérieure. Si enlevé : décale à droite */
			margin : 0; /* ni extérieure. Si enlevé : décale en bas */
			list-style : none; /* on supprime le style par défaut de la liste */        
			text-align : center; /* on centre le texte qui se trouve dans la liste */
			font-weight : bold; /* on met le texte en gras */
			font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
			font-size : 110%; /* hauteur du texte : 12 pixels */
			padding-top : 2%;
			padding-bottom : 7%;
	}


	.menu_li{
		display : block; /* on change le type d'élément, les liens deviennent des balises de type block */
		background : #6c6c6c; /* couleur de fond grise */        
			border-radius: 2px;	/* arrondie les coins */
			box-shadow: 2px 2px 8px black; /* ombre menu: décalage puis adoucissement */
			text-shadow: 1px 1px 2px black; /* ombre texte */
			float : left; /* Aligne les blocks les uns à côté des autres (au lieu de dessous) */
		padding : 1.18%; /* taille des blocks */
	}
	


	.menu_li:hover /* Lorsque la souris passe sur un des liens */    
	{
			background-color: #D11321; /* ... et au contraire, le fond en rouge */
			text-shadow: 0px 0px 0px black; /* enlève ombre texte */
	}
	
	#menu_connexion{
		background-color: #EB8E1C;
		/*color: white;*/
	}
	
	#menu_connexion:hover{
		background-color: #D11321;
	}
	
	.menu_a{
			color: white;
			text-decoration : none;
	}
	

	#barre {
		padding : 2%; /* taille du block */
		width: 500px;
		background : #6c6c6c; /* couleur de fond grise */ 
	}
	/*//////////////////////////////////////////
	// FOOTER
	///////////////////////////////////////////*/
	
	.footer{
		text-align: center;
		padding-top: 1%;
		padding-bottom: 1%;
		margin-top: 2%;
		border-top-left-radius:30%;
		border-top-right-radius:50em;
	}

	/*//////////////////////////////////////////
	// INDEX
	///////////////////////////////////////////*/
	
	.corp{
		display: inline-block;
		vertical-align: top;
	}
	
	#contenu_page
	{

		margin: 2%;
		width: 80%;
	}
	
	.aside{
		position: relative;
		margin: 2%;
		width: 210%;
		height: 30em;
		box-shadow: 0px 2px 5px #1c1a19;
		border-radius: 5px;
		padding: 10px;
		color: white;
	}

	
	
	/*//////////////////////////////////////////
	// CONNEXION
	///////////////////////////////////////////*/

.connexion_global {
	display: inline;
}

.connexion_container1 {		/* Mis en page centrée et avec une page au-dessus */
  float: left;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  /*width: 640px;*/
}

.connexion_container2 {		/* Mis en page centrée et avec une marge au-dessus */
  float: left;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 10%;
  /*width: 640px;*/
}

.connexion_login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 100%;
  background: white;
  border-radius: 2%;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.connexion_login:before {
  content: '';
  position: absolute;
  top: -3%;
  right: -2%;
  bottom: -3%;
  left: -2%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 2%;
}
.connexion_login h2 {	/* case titre*/ 
  margin: -6% -5.9% 10%;
  line-height: 160%;
  text-align: center;
  background: #EB8E1C;	/* orange*/
  border-radius: 3px 3px 0 0;
}
.connexion_login p {	/*hauteur petite fenetre*/
  margin: 7% 0 0;
}
.connexion_login p:first-child {	/* positionne case titre*/ 
  margin-top: 0;
}
.connexion_login input[type=email], .login input[type=password] {
  width: 278px;
}
.connexion_login p.remember_me {
  float: left;
  line-height: 5%;
}
.connexion_login p.remember_me label {	/*carré se souvenir de moi*/
  font-size: 75%;
  color: #777;
  cursor: pointer;
}
.connexion_login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.connexion_login p.submit {
  text-align: right;
}

.connexion_login-help {	/*mot de passe oublié*/
  margin: 7% 0;		/* distance aide et petite fenetre*/
  font-size: 78%;
  color: grey;
  text-align: center;
  text-shadow: 0 1px #000;
}
.connexion_login-help a {	/* cliquez ici*/
  color: #EB8E1C;
  text-decoration: none;
}
.connexion_login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 97%;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 97%;
}

input[type=email], input[type=password] {
  margin: 3%;
  padding: 0 10px;
  width: 82%;	/*largeur case mdp*/
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=email]:focus, input[type=password]:focus {
  border-color: #EB8E1C;
  outline-color: #FFE4B5;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;	/*text*/
  text-shadow: 0 1px #e3f1f1;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #EB8E1C, #FFE4B5);	/* dégradé orange avec EB8E1C foncé*/
  background-image: -moz-linear-gradient(top, #EB8E1C, #FFE4B5);
  background-image: -o-linear-gradient(top, #EB8E1C, #FFE4B5);
  background-image: linear-gradient(to bottom, #EB8E1C, #FFE4B5);
  -webkit-box-shadow: inset 0 1px black, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px grey, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #EB8E1C;
  border-color: #EB8E1C #EB8E1C #EB8E1C;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=email], .lt-ie9 input[type=password] {
  line-height: 20%;
}
